body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid white;
    padding: 8px;
  }